@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container-fluid">
       <h1>Rzeczy do oddania</h1>
       <p>
           Welcome to the application that allows you to return unnecessary products easily, quickly and comfortably.
       </p>
       <img src="~/Img/firstpage.png" />
    </div>
</div>
